.hero {
  min-height: 100vh;  
  color: $white;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  // background: url('../img/background.jpg') no-repeat 50% 50%;
  background-size: cover;
  
  .hero-content { 
    transform: translate(-50%,-50%);
    top: 50%; 
    position: absolute;
    left: 50%;
    margin: auto;
    text-align: center;
    z-index: 100;
    h1 {      
      color: $white;
      text-shadow: 0 2px 8px rgba($black,1);
      font-family: 'Permanent Marker', cursive;
      opacity: .65;
      margin-bottom: .35em;
    }
    .btn {
      margin: 1em auto;
      text-align: center;
      display: inline-block;
    }
  }
  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
  }
  .inner-container {
    width: 100%;
    @include clearfix();
  }
  &.homepage {

    // .hero-content {
    //   z-index: 100;
    //   max-width: 400px;
    //   text-align: center;
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%,-50%);
    //   @media (min-width: $screen-sm) {
    //     max-width: 400px;
    //   }
    //   @media (min-width: $screen-lg) {
    //     text-align: left;
    //     left: 11.5%;
    //     transform: translate(0,-50%);
    //   }
    //   a {
    //     color: $white;
    //   }
    // }
    video {
      z-index: 0;
    }
  }
  .cycle-carousel {
    min-height: 320px;
    @media (min-width: $screen-sm) {
      min-height: 480px;
    }
    @media (min-width: $screen-md) {
      min-height: 700px;
    }
    .slide {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      .heading,
      p {
        color: currentColor;
      }
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
