#tucson {
	font-family: 'PT Sans', sans-serif;
	.hero {
		background: url('../img/tucson.jpg') no-repeat 50% 50%;
  		background-size: cover;
  		.hero-content {
  			h1 {
				font-weight: $base-font-weight-bold;
				line-height: 1;
				> span {
					font-size: 14px;
				}
			}
		}
	}
	h1,
	.h1 {
		
	}
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h6 {
		font-family: 'PT Sans', sans-serif;
	}
	section {
		&.sign {
			//background: $blue url('http://www.chicoskywatch.org/images/posters/stopsign_full_lg.jpg') no-repeat 0 0;
			background: url('../img/stopsign.jpg') no-repeat bottom center;
			background-size: cover;
			@media (min-width: $screen-sm) {
				background-position: 25% 0;
			}
			@media (min-width: $screen-md) {
				background-position: 0 0;
			}
			@media (min-width: $screen-lg) {
				background-position: 0 50%;
			}
		}
	}
}
