header {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: $black;
  left: 0;
  max-width: 1440px;
  position: fixed;
  top:0;
  transition: all 250ms ease;
  user-select: none;
  z-index: 1010;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  right: 0;
  @include clearfix();
	@media screen and (min-width: $screen-md) {
    background: transparent;
	}
  &.open {}
  &.open,
	&.scroll {
    transition: all 200ms ease;
		background-color: $black;
	}
  #fs-logo {
    background-image: url('../img/frankenskies.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50px;
    width: 180px;
    display: inline-block;
    text-indent: -999em;
  }
}
